[build]
builder = "DOCKERFILE"
dockerfilePath = "backend/Dockerfile"
buildCommand = "npm install"

[deploy]
startCommand = "node dist/server.js"
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
